<!doctype html>
<html lang="en">
    <%- include('./layout/head') %>
    <link rel="stylesheet" href="/assets/css/signup.css" />
    <body>
        <div class="container">
            <%- include('./layout/header') %>
            <form class="form" action="/login" method="post">
                <% for(const key in flash){ %>
                    <p class="error">
                        <%= flash[key] %>
                    </p>
                <% } %>
                <h1 class="form__title">Login</h1>
                <div class="form__formController">
                    <label for="">Email: </label>
                    <input
                        type="email"
                        name="email"
                        placeholder="email@example.com"
                        required
                    />
                </div>
                <div class="form__formController">
                    <label for="">Password: </label>
                    <input type="password" name="password" required />
                </div>
                <div class="form__formController">
                    <label for="">Remember </label>
                    <input type="checkbox" name="remember" id="" />
                </div>
                <button class="form__submit" type="submit">Login</button>
            </form>
            <%-include('./layout/footer') %>
        </div>
    </body>
</html>
