* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    transition: 0.3s ease-in-out;
}

body {
    background-color: #262626;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: rgb(3, 224, 150);
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDiv__link {
    width: 100px;
    border: 3px solid #262626;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    color: #262626;
    font-weight: bold;
}

.loginDiv__link.active {
    background-color: #262626;
    color: rgb(3, 224, 150);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    font-size: 22px;
    font-weight: bold;
    margin: 4px;
}

.menu__item a {
    color: #262626;
    padding: 10px;
    border: 3px solid transparent;
}

.menu__item a:hover {
    border: 3px solid #000;
    border-radius: 15px;
}

.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv__text {
    border: 3px solid #262626;
    font-size: 20px;
    padding: 7px;
    outline: none;
    border-radius: 15px;
    background-color: #262626;
    color: rgb(3, 224, 150);
}

.searchDiv__btn {
    width: auto;
    font-size: 20px;
    padding: 7px;
    border-radius: 15px;
    border: 3px solid #262626;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    border-top: 3px solid rgb(3, 224, 150);
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(3, 224, 150);
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0 -10px 50px rgba(0, 0, 0, 0.5);
}

.notfound {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
    box-shadow: 10px 20px 50px rgba(214, 105, 91, 0.5);
    border-radius: 15px;
    margin-top: 100px;
}

.notfound h1 {
    color: #fff;
    font-size: 72px;
    letter-spacing: 10px;
    text-align: center;
}

.notfound p {
    color: #ddd;
    font-size: 40px;
    text-align: center;
}

.notfound a {
    font-size: 30px;
    color: royalblue;
}
